PATH_add bin

export SLACK_OAUTH_TOKEN=abcd-1234
export SLACK_VERIFICATION_TOKEN=secret

if [ -f ".envrc.docker" ]; then
  source_env .envrc.docker
fi

if [ -x "$(command -v nix)" ] && [ "$(type -t use_nix)" = function ]; then
  use_nix
fi
